extends layout

block content

    div.wrapper
        - const upCat = cat.toUpperCase(); 
        p#myId Hello #{name} #{upCat} or #{cat.toUpperCase()}
        img.imgClass(src="hello.jpg", alt=`this is my cat's name ${cat}`)

    h2
        | #{cat} 
        em is my cat's name
